* {
    margin: 0%;
    padding: 0%;
}

header {
    text-align: center;
}

body {
    background-color: rgb(6, 135, 135);
}

.cabecalho {
    margin: 50px;
    margin-bottom: 150px;
}

header h1.titulo {
    margin: 20px;
    font-size: 10vh;
}

.container-contas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.dentro-contas {
    border: 1px solid black;
    background-color: rgb(94, 132, 157);
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 360px;
    align-items: center;
    text-align: center;
}

.titulo-conta {
    margin-bottom: 15px;
}

.container-valores input {
    margin: 2px;
    border: 1px  black solid;
    border-radius: 4px;
    background-color: rgb(108, 181, 249);
    padding: 2px;
}

.container-button button {
    border: 1px solid rgb(65, 164, 114);
    border-radius: 4px;
    background-color: rgb(111, 207, 159);
    padding: 2px;
}

.container-resultado {
    background-color: rgb(42, 87, 117);
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 10px;
}